.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.body{
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    height: 80px;
    width: 100%;
    z-index: 10000;
}

#Hmenu {
    position: fixed;
    top: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
}

#Hmenu line {
    transform-origin: 50% 50%;
    stroke: rgb(170, 158, 158);
    stroke-width: 4px;
}

#Hmenu line:nth-child(1), #Hmenu line:nth-child(3) {
    transition: all .3s linear;
}

#Hmenu line:nth-child(2) {
    transition: opacity .3s;
}

.active line:nth-child(1) {
    transform: translate(-6px, 4px) rotate(45deg);
}

.active line:nth-child(2) {
    opacity: 0;
}

.active line:nth-child(3) {
    transform: translate(-6px, -7px) rotate(-45deg);
}

.gnav{
    position: fixed;
    height: 100vh;
    width: 100%;
    padding: 0 2%;
    opacity: 1;
    z-index: 5000;
}

.gnavbody{
    position: relative;
    height: 40%;
    width: 96%;
    background-color: whitesmoke;
    opacity: 0;
}

.gnav .active{
    opacity: 0.9;
}

.gnavbody p{
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: 180%;
}

.gnavbody p a{
    margin: 0 20px;
}

.bg{
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: gray;
    z-index: 0;
}

@keyframes rotate_anime {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

.gear{
    animation: rotate_anime 3s infinite linear; 
}

#gear0{
    position: absolute;
}

#gear0 .gear{
    opacity: 0.1;
    animation: rotate_anime 10s infinite linear; 
}

#gear2{
    position: absolute;
    left: 80%;
}

#gear2 .gear{
    animation: rotate_anime 2s infinite linear; 
}

#gear3{
    position: absolute;
    top: 40%;
    left: 70%;
}

#gear3 .gear{
    animation: rotate_anime 5s infinite linear reverse; 
}

#gear4{
    position: absolute;
    top: 15%;
    left: 15%;
}

#gear4 .gear{
    animation: rotate_anime 3s 0.2s infinite linear reverse; 
}

#gear5{
    position: absolute;
    top: 70%;
    left: 20%;
}

#gear5 .gear{
    animation: rotate_anime 4s infinite linear reverse; 
}

#gear6{
    position: absolute;
    top: 80%;
    left: 70%;
}

#gear6 .gear{
    animation: rotate_anime 3s infinite linear; 
}

.Main{
    position: relative;
    height: 100vh;
    font-size: 300%;
    z-index: 1000;
}

.mainWord{
    position: absolute;
    top: 40%;
    left: 20%;
}

@keyframes fadein_anime{
    0% {
        opacity: 0;
    }
    20%{
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.kcg{
    color: blue;
    animation: fadein_anime 3s;
}

.student{
    color: yellow;
    animation: fadein_anime 9s;
}

.presents{
    color: red;
    animation: fadein_anime 15s;
}

.products{
    position: relative;
    padding-left: 2%;
    height: 100%;
    z-index: 1000;
}

.areaTitle{
    width: 48%;
    min-width: 390px;
    padding: 4px 0;
    background-color: white;
    font-size: 150%;
}

.contents{
    width: 48%;
    min-width: 390px;
    margin-top: 10px;
    background-color: darkgray;
    float: left;
}



.contents:nth-child(2n){
    margin-right: 20px;
}

.contents video{
    width: 90%;
    min-width: 380px;
    
}
.contents img{
    width: 90%;
    min-width: 380px;
    
}

.contents h3{
    font-size: 150%;
    margin: 5px 0;
}

.contents p{
    font-size: 120%;
    line-height: 2em;
}

.history{
    position: relative;
    padding: 2%;
    line-height: 4em;
    min-width: 390px;
    
    z-index: 1000;
}

.history div{
    padding: 2%;
    background-color: white;
}

.name p{
    background-color: springgreen;
}

.jaName{
    font-size: 200%;
    letter-spacing: 10px;
}

.enName{
    font-size: 120%;
}

.class p{
    margin-top: 10px;
    background-color: turquoise;
}

.class .academy{
    font-size: 150%;
}

.performance{
    font-size: 120%;
}

.performance .kcgc{
    background-color: turquoise;
}

.sTop{
    font-size: 150%;
}

.manual{
    font-size: 120%;
}

.list ul li:nth-child(n+2) p{
    font-size: 150%;
}
